@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-bgPrimary;
	font-family: "Roboto Mono", monospace;
}

.lan-navbar-fixed {
	@apply fixed z-[9999] bg-bgSecondary bg-opacity-60;
	backdrop-filter: blur(10px);
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

@layer components {
	.lan-container-body {
		@apply w-full h-auto;
	}

	.lan-router-link {
		@apply flex items-center px-3 py-2 text-xs font-bold leading-snug text-primary uppercase hover:opacity-75;
	}

	.lan-nav-link {
		@apply flex py-2 mx-8 text-base text-dark group-hover:text-primary group-hover:font-extrabold;
	}

	.lan-hamburger-line {
		@apply w-[30px] h-[3px] my-[7px] block bg-primary transition duration-300 ease-in-out;
	}

	.lan-hamburger-active {
		@apply rotate-180;
	}

	.lan-hamburger-active > span:nth-child(1) {
		@apply -rotate-45;
	}

	.lan-hamburger-active > span:nth-child(2) {
		@apply scale-0;
	}

	.lan-hamburger-active > span:nth-child(3) {
		@apply rotate-45;
	}

	.lan-text-primary {
		@apply text-primary border-primary transition duration-1000 hover:duration-300 hover:border-bgPrimary hover:bg-primary hover:text-bgPrimary;
	}

	.lan-50-to-100 {
		@apply opacity-50 transition duration-1000 hover:duration-300 hover:opacity-100;
	}

	.lan-button-primary {
		@apply px-6 py-2 text-base font-semibold border-2 border-primary rounded-full text-bgPrimary bg-primary transition duration-1000 hover:duration-300 hover:border-primary hover:bg-bgPrimary hover:text-primary;
	}

	.lan-textfield-primary {
		@apply p-2 mt-1 rounded-lg bg-bgSecondary text-dark transition duration-1000 focus:duration-300 focus:outline-none focus:ring-primary focus:ring-1 focus:border-primary focus:border-2 min-h-[40px];
	}
}
